 
.shadetabs{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.shadetabs li{
  font: 200 20px/2.0 Arial, Helvetica, sans-serif;
  border-bottom: 3px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
.shadetabs li a{
  text-decoration: none;
  color: #AA2023;
  display: xblock;
  width: 100px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.shadetabs li a:hover {
  font-size: 20px;
  background: #f6f6f6;
}

